			@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');
			body{
			   color:#FFFFFF;
			   overflow-x: hidden;

			   width: 100%;
			   background:url("imagens/background.jpg") no-repeat;
			   background-size: cover;
			   font-family: 'Open Sans', sans-serif;
			}
			#cssmenu {
		 	text-align: center;
		    margin-top: 100px;
		    background: rgba(0, 0, 0, 0.28);
		    border: 1px solid rgba(0, 0, 0, 0.4);
		    padding: 15px;  
		    padding:10px;
		    color:#cccaca;
		    display: block;
		    margin: 50px auto;
		    width: 438px;
		    float: center;
		 	font: 67.5%;
		  	font-size: 14px;
		  	font-weight: bold;
			}
			#cssmenu ul {
			  background: #21374e;
			  height: 35px;
			  list-style: none;
			  margin: 0;
			  padding: 0;
			  text-shadow: 2px 2px 2px #000;
			}
			#cssmenu li {
			  float: left;
			  padding: 0px;
			}
			#cssmenu li a {
			  background: #21374e bottom right no-repeat;
			  display: block;
			  font-weight: normal;
			  line-height: 35px;
			  margin: 0px;
			  padding: 0px 25px;
			  text-align: center;
			  text-decoration: none;
			}
			#cssmenu > ul > li > a {
			  color: #cccccc;
			}

			#cssmenu ul li:hover > a {
			  color: #ffffff;
			  text-decoration: none;
			  text-shadow: 0 0 0.2em #00FFFF, 0 0 0.2em #00FFFF, 0 0 0.2em #00FFFF;
			}
			.container{
				display: flex;
				justify-content: center;

			}
			.cabecario {
		 	text-align: center;
		    color:white;
		    margin: 5px auto;
		    width: 300px;
		    float: center;
		  	font-size: 12px;
		  	font-weight: bold;
			}
			.bordcabecario{
				border: 5px solid #FFF;
			}
			hr {
				border: 5;
				border-top: 2px solid #FFF;
			}

			.inicio{
				display: block;
			}
			.rendas{
				position: absolute;
				display: none;				
			}
			.gastos{
				position: absolute;
				display:none;
			}
			.relatorio{
				position: absolute;
				display:none;
				
			}
			.addrendas{
				position: absolute;
				display: none;
			}
			.editrendas{
				position: absolute;
				display: none;
			}
			.excluirrendas{
				position: absolute;
				display: none;
			}
			.addgastos{
				position: absolute;
				display: none;
			}
			.editgastos{
				position: absolute;
				display: none;
				
			}
			.excluirgastos{
				position: absolute;
				display: none;
			}
			.form{
				display: flex;
				flex-direction: column;
			}
			.btn{
				border-radius: 5px;
				text-transform: uppercase;
				color: white;
				font-size: 12px;
				padding: 10px 50px;
				cursor: pointer;
				font-weight: bold;
				width: 160;

			}
			.btn-primary{
				background-color: #00c600;
				border: 1px solid #019b01;
			}
			.btn-primary:hover{
				background-color: #019b01;
				
			}
			.btn-secondary{
				background-color: #b80000;
				border: 1px solid #890101;
			}
			.btn-secondary:hover{
				background-color: #890101;
			}
			.form input{
				height: 45px;
				border: none;
				background-color: #c7c7c7;
				margin: 10px;
				text-align: center;
				border-radius: 10px;
			}
			.checkbox{
				display: flex;
				justify-content: center;
			}
			.formpag{
				font-weight: bold;
				font-size: 20;

			}
			.tabelafixas{
				display: flex;
				justify-content: center;
				
			}
			.tabelavariaveis{
				display: flex;
				justify-content: center;
			}
			.ptitle{
				font-weight: bold;
				font-size: 30px;
			}
			.pmes{
				font-weight: bold;
				font-size: 30px;
				font-style: italic;
				color: green;
			}
			.tabela{
				border: 2px solid;
				border-color: white;
				margin: 15px auto;
			}
       
           .crend{
     
		    color: #008000;
		     font-size: 18px;

	        }

	         .cgast{
     
		    color: #ff0000;
		     font-size: 18px;

	        }

	         .smd{
     
		    color: #008000;
		     font-size: 20px;

	        }  
	        .s1mes{
     
		    color: #008000;
		    

	        }